<div class="flex flex-column p-2">

    <h3>Buscador</h3>
  
    <mat-form-field>
      <mat-label>Buscador de héroes</mat-label>
      <input
        type="text"
        matInput
        [formControl]="searchInput"
        (input)="searchHero()"
        [matAutocomplete]="auto"
      />
  
      <mat-autocomplete autoActiveFirstOption
        #auto="matAutocomplete"
        (optionSelected)="onSelectedOption( $event )"
        >
        <mat-option *ngFor="let hero of heroes" [value]="hero">
          {{ hero.superhero }}
        </mat-option>
  
        <mat-option
          *ngIf="heroes.length === 0 && searchInput.value && searchInput.value.length > 0"
          value="">
          No se encontró nada con el término {{ searchInput.value }}
        </mat-option>
      </mat-autocomplete>
  
    </mat-form-field>
  
  

    
    
      
      
      <div *ngIf="heroe" class="grid p-2">
      
        <mat-card class="col-12 sm:col-6">
      
          <mat-card-header>
            <mat-card-title>{{ heroe.alter_ego }}</mat-card-title>
            <mat-card-subtitle>{{ heroe.superhero }}</mat-card-subtitle>
          </mat-card-header>
      
      
          <img [src]="heroe | heroImage" [alt]="heroe.superhero" mat-card-image  />
      
        </mat-card>
      
        <mat-card class="col-12 sm:col-6">
      
          <mat-card-header>
            <mat-card-title>Información</mat-card-title>
            <mat-card-subtitle>{{ heroe.superhero }}</mat-card-subtitle>
          </mat-card-header>
      
          <mat-card-content>
            <mat-list>
              <mat-list-item>{{ heroe.first_appearance }}</mat-list-item>
              <mat-list-item>{{ heroe.characters }}</mat-list-item>
              <mat-list-item>{{ heroe.publisher }}</mat-list-item>
              <mat-list-item>{{ heroe.alter_ego }}</mat-list-item>
            </mat-list>
      
            <button
              mat-button
              color="warn"
              (click)="goBack()"
            >
              Regresar
            </button>
      
          </mat-card-content>
      
      
        </mat-card>
      
      
      </div>
  